@page "/client"
@using MudBlazor;
@inject IDialogService DialogService

<PageTitle>Zarządzanie klientami</PageTitle>

<h1>Lista klientów</h1>

<MudTable Items="@clients" Hover="true" Elevation="30" Dense=true Striped=true SortLabel="Sort By">
    <HeaderContent>
        <MudTh>Nr</MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ClientViewModel, object>(x=>x.Name)">Imię</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ClientViewModel, object>(x=>x.Surname)">Nazwisko</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ClientViewModel, object>(x=>x.RegistryDate)">Data dołączenia</MudTableSortLabel></MudTh>
        <MudTh>Options</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.No</MudTd>
        <MudTd DataLabel="Imię">@context.Name</MudTd>
        <MudTd DataLabel="Nazwisko">@context.Surname</MudTd>
        <MudTd DataLabel="DataDołączenia">@context.RegistryDate</MudTd>
        <MudTd DataLabel="Options">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" IconSize="Size.Medium" OnClick="@( () => EditClient(context) )"/>
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Secondary" IconSize="Size.Medium" OnClick="@( () => DeleteClient(context) )"/>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager InfoFormat="{first_item}-{last_item} z {all_items}" RowsPerPageString="Wierszy na stronę:"></MudTablePager>
    </PagerContent>
</MudTable>


@code
{

    public List<ClientViewModel> clients = new();

    protected override void OnInitialized()
    {
        GetClientsList();

    }
    
    private void GetClientsList()
    {
        // get api connection
         clients = new List<ClientViewModel>()
            {
            new ClientViewModel{
                Id = Guid.NewGuid(),
                No = 1,
                Name = "Jan",
                Surname = "Kowalski",
                RegistryDate = DateTime.Now
            },
            new ClientViewModel{
                Id = Guid.NewGuid(),
                No = 2,
                Name = "Anna",
                Surname = "Nowak",
                RegistryDate = DateTime.Now.AddDays(-5)
            },
            new ClientViewModel{
                Id = Guid.NewGuid(),
                No = 3,
                Name = "Andrzej",
                Surname = "Duda",
                RegistryDate = DateTime.Now.AddMonths(-2)
            },
            new ClientViewModel{
                Id = Guid.NewGuid(),
                No = 4,
                Name = "sad",
                Surname = "2dsad",
                RegistryDate = DateTime.Now.AddMonths(-2)
            }      
            };
    }

    private void RefreshData()
    {
        int i = 1;
        @* foreach(var item in apiResponse)
        {
            var newClient = new ClientViewModel()
            {
                No = ++i,
                Id = item.Id,
                Name = item.Name,
                Surname = item.Surname,
                RegistryDate = item.RegistryDate
            };
            clients.Add(newClient);
        } *@
    }

    private void DeleteClient(ClientViewModel model)
    {
        var parameters = new DialogParameters();
        parameters[nameof(GUI.Components.Dialogs.ClientDialogs.DeleteClientDialog.ClientId)] = model.Id;
        parameters[nameof(GUI.Components.Dialogs.ClientDialogs.DeleteClientDialog.ClientName)] = model.Name;
        parameters[nameof(GUI.Components.Dialogs.ClientDialogs.DeleteClientDialog.ClientSurname)] = model.Surname;
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<GUI.Components.Dialogs.ClientDialogs.DeleteClientDialog>("Usuwanie klienta", parameters, options);
    }

    private void EditClient(ClientViewModel model)
    {    
        var parameters = new DialogParameters();
        parameters[nameof(GUI.Components.Dialogs.ClientDialogs.DeleteClientDialog.ClientId)] = model.Id;
        parameters[nameof(GUI.Components.Dialogs.ClientDialogs.DeleteClientDialog.ClientName)] = model.Name;
        parameters[nameof(GUI.Components.Dialogs.ClientDialogs.DeleteClientDialog.ClientSurname)] = model.Surname;
        
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<GUI.Components.Dialogs.ClientDialogs.EditClientDialog>("Edycja klienta", parameters, options);
    }
}